/* set the background color of body to tan */
body{
    background-color: tan;

}
/* on screens that are 992px or less, set background color of body to blue   */
@media screen and (max-width: 992px) {
   body{
    background-color: blue
   }; 
}
/* on screens that are 600px or less, set background color of body to olive  */
@media screen and (max-width: 600px){
    body{
        background-color: olive;
    }
}