body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

/* Body Header */

#body-header {
    /* height: 100%; */
    /* width: 100%; */
    /* opacity: 0.8; */
    background-image: url(./background\ image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-size: 1550px 300px;
    
}

/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}


.horizontal-list li a {
    color: #0A2647;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}

/* Name and Social Icons*/

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: #181D31;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li {
    border-radius: 50%;
}

.social-icons li:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.social-icons li a img {
    width: 1rem;
    padding: 8px;
}

#about h1{
    font-size: 25px;
    color: #181D31;
    text-align: center;
}
#about{
    font-size: 20px;
    text-align: justify;
}
#my-image{
    height: 10rem;
    width: 10rem;
    margin: auto;
    /* margin-top: -17vh; */
}
#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;

}